<div class="mt-1">
    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-circle-left"></i> Back to List</a>
</div>
